// ------------------------------------------------------------------------------------------------
// This file contains all varibles for the application
// ------------------------------------------------------------------------------------------------




/// Text color
/// @type Color
$white-color: #fff;
$light-theme-text-color: #141414;
$dark-theme-text-color: #fff;

/// Light Grey
/// @type Color
$light-grey: #e0e0e0;

/// Base Color
/// @type Color
$base-color: #131720;
$light-theme-base-color: #ffffff;
$dark-theme-base-color: #131720;

/// Dark Blue
/// @type Color
$dark-blue: #131925;
$light-theme-dark-base-color: #ccc;
$dark-theme-dark-base-color: #131925;

/// Meduim Blue
/// @type Color
$mid-blue: #151f30;
$light-theme-mid-base-color: #eee;
$dark-theme-mid-base-color: #151f30;

/// Primary Color
/// @type Color
$primary-color: #e94560;



$colors: (
    light-theme-text-color: $light-theme-text-color,
    dark-theme-text-color: $dark-theme-text-color,
    light-theme-base-color: $light-theme-base-color,
    dark-theme-base-color: $dark-theme-base-color,
    light-theme-dark-base-color: $light-theme-dark-base-color,
    dark-theme-dark-base-color: $dark-theme-dark-base-color,
    light-theme-mid-base-color: $light-theme-mid-base-color,
    dark-theme-mid-base-color: $dark-theme-mid-base-color,
    primary-color: $primary-color,
    light-grey: $light-grey
);




/// Container's maximum width
/// @type Length
$max-width: 1180px;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    'sm': 575px,
    'md': 767px,
    'lg': 991px,
    'xl': 1200px);




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
// $base-url: '/assets/';




/// font weight regular
$font-reg: 400;

/// font weight medium
$font-med: 500;

/// font weight semi-bold
$font-semi-bold: 600;

/// font weight bold
$font-bold: 600;

/// font weight extra bold
$font-ext-bold: 600;