.personDetails {
    margin-top: 100px;
    display: flex;

    ._overview {
        width: 330px;
        flex-shrink: 0;
        padding: 0 15px;

        .__img {
            
            img {
                border-radius: 10px
            }
        }
    }

    ._summary {
        padding: 0 10px;
    }
}