<app-container-wrapper>
  @if (person) {
    <div class="personDetails">
      <div class="_overview">
        <div class="__img"><img class="img-responsive" [src]="person.profile_path" [alt]="person.name" [title]="person.name"></div>
      </div>
      <div class="_summary">
        <h1>{{person.name}}</h1>
        @if (person.biography) {
          <div>
            <h2>Biography</h2>
            <p>{{person.biography}}</p>
          </div>
        }
      </div>
    </div>
  }
</app-container-wrapper>