<header class="header">
    <div class="container">
        <div class="navbar">
            <a routerLink="/" class="brand-logo">
                <img src="{{imagePath}}/logo.png" width="160" height="35" class="img-responsive" alt="logo">
            </a>

            <div class="nav-burger">
                <span class="burger-bar bar-1"></span>
                <span class="burger-bar bar-2"></span>
                <span class="burger-bar bar-3"></span>
            </div>

            <nav class="navbar-nav">

                <ul>
                    <li class="dropdown">
                        <a routerLink="/trending">Trending</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/top-rated">Top Rated</a>
                    </li>
                    <li class="dropdown">
                        <a routerLink="/upcoming">Upcoming</a>
                    </li>
                    <li class="dropdown">
                        <a>Genre <span class="material-icons-outlined">expand_more</span></a>
                        <app-genere-list></app-genere-list>
                    </li>
                </ul>

                <app-search-form></app-search-form>

            </nav>

        </div>
    </div>
</header>