<main class="moviedetails" *ngIf="movie">
    <div class="container">

        <section class="poster" style="background-image: url('{{movie.backdrop_path}}');"></section>

        <section class="content">
            <div class="play">
                <a href="#"><i class="material-icons-outlined">play_circle_outline</i></a>
            </div>
            <div class="heading">
                <h1>{{movie.original_title}}</h1>
            </div>
            <ul class="detail-list">
                <li><i class="material-icons-outlined">star</i> {{movie.vote_average.toFixed(1)}}</li>
                <li><i class="material-icons-outlined">bolt</i> <span *ngFor="let genre of movie.genres">{{genre.name}} &nbsp;&nbsp; </span></li>
                <li><i class="material-icons-outlined">event</i> {{movie.release_year}}</li>
                <li><i class="material-icons-outlined">schedule</i> {{movie.runtime_hours}}h  {{movie.runtime_minutes}}min</li>
                <li *ngIf="movie.adult"><i class="material-icons-outlined">perm_identity</i> 18+</li>
            </ul>
            <div class="movie__desc">
                {{movie.overview}}
            </div>
        </section>

    </div>
</main>

<app-container-wrapper>
    <ng-container *ngIf="casts && casts.length">
        <app-heading [heading]="'Top Cast'"></app-heading>

        <app-person-list [personList]="casts"></app-person-list>

    </ng-container>
    <ng-container *ngIf="similarMovies && similarMovies.length">
        <app-heading [heading]="'You May Also Like'"></app-heading>

        <div class="cards-wrapper swipe">
            <app-movie-card [movie]="movie" *ngFor="let movie of similarMovies"></app-movie-card>
        </div>
    </ng-container>
</app-container-wrapper>