<!-- <div class="card"> -->
    <span class="card__rating">
        <i class="material-icons-outlined">star</i>
        {{movie.vote_average.toFixed(1)}}
    </span>
    <a [routerLink]="'/movie/'+movie.id" class="card__cover">
        <img [src]="movie.poster_path" class="img-responsive" alt="Interstellar">
    </a>
    <h2 class="card__title">
        <a [routerLink]="'/movie/'+movie.id" [title]="movie.original_title">{{movie.original_title}}</a>
    </h2>
    <ul class="card__list">
        <li>{{movie.release_year}}</li>
    </ul>
<!-- </div> -->